.round-box {
    border: 2px solid black; 
    border-radius: 5px; 
    margin-top: 20px; 
    margin-left: 25%;
    height: 110px; 
    padding: 10px;
    min-width: 250px;
    border-color: #ff8000;
    color: #c96500;
}

.contacts {
    margin: 1px;
    text-align: left;
    padding-left: 11px;
}

body {
    min-width: 1024px;
    width: 100%;
    background: linear-gradient(#252525,#7c7c7c);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.button_tab {
    width: 14.6666666667%;
}

.button_tab-big {
    width: 20.6666666667%;
}

p {
    color: #ff8000;
    
}